$apple-blossom: #d75f87;
$alto: #bcbcbc;
$bouquet: #af87af;
$chelsea-cucumber: #5faf5f;
$cod-grey: #1c1c1c;
$conifer: #dadada;
$dove-grey: #444444;
$gallery: #e6e6e6;
$grey: #767676;
$gulf-stream: #5f8787;
$hippie-blue: #87afaf;
$potters-clay: #af875f;
$rajah: #87afaf;
$raw-sienna: #5f87af;
$silver-chalice: #9e9e9e;
